body{
  background-color: #E8E3C5;
}


header {
    background-color: #0C5259;
    color: #D96725;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#menu {
    background-color: #0C5259;
    color: #D96725;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}

.botonesMenu { 
  background-color:  #0C5259 ;
  color: #D96725;
  border-radius: 5px;
  border: 0;
  font-size: larger;
}

.botonesMenu:active {
    background-color: #072f33;
    color: white; 
    padding: 30px;
  }


#pokebola-img > img {
    margin-top: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    
}

footer {
    background-color: #0C5259;
    color: #E8E3C5;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    margin-top: 20px;
}

#tarjeta2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letrastarjetas {
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  color: transparent;
}

#tarjeta > div {
    border-radius: 10px;
    box-shadow: 5px 10px 10px #888888;
    text-align: center;
}


.bloquePokemones{
  display: inline-block;
  align-items: center; /* Alineación vertical */
  justify-content: center; /* Alineación horizontal */
  text-align: center; /* Alineación del texto */
  border-radius: 20px;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 6px 20px 10px rgb(79, 79, 79);
}

.bloquetransparente{
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
}



.pokemon-fire{
 background-image: url(img/fondos/fondo_fuego.jpg);
}

.pokemon-grass{
  background-image: url(img/fondos/fondo\ planta.jpg);
 }
 
.pokemon-water{
  background-image: url(img/fondos/fondo\ agua.jpg);
}

.pokemon-bug{
  background-image: url(img/fondos/tipo_bicho.jpg);
}

.pokemon-poison{
  background-image: url(img/fondos/fondo_tipo_veneno.png);
}


.pokemon-electric{
  background-image: url(img/fondos/fondo\ electricos.png)
 }

 .pokemon-rock{
  background-image: url(img/fondos/tipo_roca.png)
 }

 .pokemon-ghost{
  background-image: url(img/fondos/tipo_fantasmajpg.jpg)
 }

 .pokemon-ice {
  background-image: url(img/fondos/tipo.icee.png);
 }

 .pokemon-psychic {
  background-image: url(img/fondos/tipo_psiquico.jpg);
 }

 .pokemon-ground {
  background-image: url(img/fondos/tipo_ground.jpg);
 }

 .pokemon-fairy {
  background-image: url(img/fondos/tipo_hada.png);
}

.pokemon-dragon {
  background-image: url(img/fondos/fondo_todos.jpg);
}

.pokemon-dark {
  background-image: url(img/fondos/tipo_dark.jpg);
}

.pokemon-normal {
  background-image: url(img/fondos/tipo_nomal.png);
}

.pokemon-steel {
  background-image: url(img/fondos/tipo_steel.jpg);
}

.pokemon-fighting {
  background-image: url(img/fondos/tipo_lucha.jpg);
}

#boton-tipos {
  width: 30px;
  height: 30px;
  border-radius: 1px;
}



