body{
  background-color: #E8E3C5;
}


header {
    background-image: url(img/fondos/fondo_headere.jpg);
    background-size: cover;
    color: black;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
  }

h1 {
  padding-left: 100px;
  margin-top: 200px;
}

#menu {
    background-color: #0C5259;
    color: #D96725;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}

.botonesMenu { 
  background-color:  #0C5259 ;
  color: #D96725;
  border-radius: 5px;
  border: 0;
  height: 70px;
  font-size: larger;
}

.botonHouse{
  width: 50px;
}

.botonesMenu:active {
    background-color: #072f33;
    cursor: pointer;
}

.botonesMenu:hover {
  background-color: #072f33;
  cursor: pointer;
}


#pokebola-img > img {
    margin-top: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    
}

footer {
    background-color: #0C5259;
    color: #E8E3C5;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    margin-top: 20px;
}

#tarjeta2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letrastarjetas {
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  color: transparent;
}
.bloquePokemones{
  display: inline-block;
  align-items: center; /* Alineación vertical */
  justify-content: center; /* Alineación horizontal */
  text-align: center; /* Alineación del texto */
  border-radius: 20px;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 6px 20px 10px rgb(79, 79, 79);
}

.bloquetransparente{
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
}



.pokemon-fire{
 background-image: url(img/fondos/fondo_fuego.jpg);
 background-size: cover;
}

.pokemon-grass{
  background-image: url(img/fondos/fondo\ planta.jpg);
  background-size: cover;
 }
 
.pokemon-water{
  background-image: url(img/fondos/fondo\ agua.jpg);
  background-size: cover;
}

.pokemon-bug{
  background-image: url(img/fondos/tipo_bicho.jpg);
  background-size: cover;
}

.pokemon-poison{
  background-image: url(img/fondos/tipo_poison.jpg);
  background-size: cover;
}


.pokemon-electric{
  background-image: url(img/fondos/fondo\ electricos.png);
  background-size: cover;
 }

 .pokemon-rock{
  background-image: url(img/fondos/tipo_rock.jpeg);
  background-size: cover;
 }

 .pokemon-ghost{
  background-image: url(img/fondos/tipo_fantasmajpg.jpg);
  background-size: cover;
 }

 .pokemon-ice {
  background-image: url(img/fondos/tipo.icee.png);
  background-size: cover;
 }

 .pokemon-psychic {
  background-image: url(img/fondos/tipo_psiquico.jpeg);
  background-size: cover;
 }

 .pokemon-ground {
  background-image: url(img/fondos/tipo_ground.jpg);
  background-size: cover;
 }

 .pokemon-fairy {
  background-image: url(img/fondos/tipo_hada.jpeg);
  background-size: cover;
}

.pokemon-dragon {
  background-image: url(img/fondos/fondo_todos.jpg);
  background-size: cover;
}

.pokemon-dark {
  background-image: url(img/fondos/tipo_dark.jpg);
  background-size: cover;
}

.pokemon-normal {
  background-image: url(img/fondos/tipo_nomal.png);
  background-size: cover;
}

.pokemon-steel {
  background-image: url(img/fondos/tipo_steel.jpg);
}

.pokemon-fighting {
  background-image: url(img/fondos/tipo_lucha.jpg);
  background-size: cover;
}

#boton-tipos {
  width: 30px;
  height: 30px;
  border-radius: 1px;
  }

.fondoCaracteristicas{
  background-color: aliceblue;
}




